{% extends 'base.html' %}

{% block hello %}

<div class="row">
    <div class="col-lg-11"></div>
    <div class="col-lg-1"><div class="col-lg-1 edit mt-3"><a class="text-white" href="/">Back</a></div></div>
</div>
<div class="row mt-5">
    <div class="col-lg-10 mx-auto">
          <div class="row">
            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-2">
                            <span>Heading</span>
                        </div>
                        <div class="col-lg-10">
                            <input required id="heading" class="mb-4" type="text" placeholder="heading" name="heading">
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-2">
                            <span>Description</span>
                        </div>
                        <div class="col-lg-10">
                            <textarea class="mb-4" type="text" placeholder="description" name="description"></textarea>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-2">
                            <span>Upload pdf</span>
                        </div>
                        <div class="col-lg-10">
                            <input class="mb-4" accept=".pdf"  type="file" placeholder="upload pdf" name="pdf">
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-2">
                            <span>Upload image</span>
                        </div>
                        <div class="col-lg-10">
                            <input class="mb-4" accept="image/*" type="file" placeholder="image" name="image">
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-2">
                        </div>
                        <div class="col-lg-10">
                            <button type="submit">Add</button>
                            <a href="/"><button type="button">Back</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 ps-5 mt-5">
                    
                </div>
            </form>
          </div>
    </div>
</div>
{% endblock %}