{% extends 'base.html' %}


{% block hello %}
<style>
    *{
        color: white;
    }

</style>
<div class="row">
    <div class="col-lg-1 ms-auto"><div class="col-lg-1 edit mt-3"><a class="text-white" href="/">Back</a></div></div>
</div>
{% for i in data %}
<div class="row mt-5">
    <div class="col-lg-10 mx-auto">
          <div class="row">
            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-2">
                            <span>Heading</span>
                        </div>
                        <div class="col-lg-10">
                            <input type="hidden" value="{{i.postid}}" name="id">
                            <input value="{{i.pheading}}" accept="" required id="heading" class="mb-4" type="text" placeholder="heading" name="heading">
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-2">
                            <span>Description</span>
                        </div>
                        <div class="col-lg-10">
                            <textarea class="mb-4" type="text" required placeholder="description" name="description">{{i.pdescription}}</textarea>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-12">
                                    <span>Upload New pdf</span>
                                </div>
                                <div class="col-lg-12 ps-4 mt-2">
                                    <input class="mb-4" accept=".pdf" value="../{{i.pfile}}"  type="file" placeholder="upload pdf" name="pdf">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-12">
                                    <span>old pdf</span>
                                </div>
                                <div class="col-lg-12 ps-4 mt-2">   
                                    <object style="border: 1px soid red; height:150px;width: 400px;" data="../{{i.pfile}}" type="application/pdf"></object>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-12">
                                    <span>Upload New image</span>
                                </div>
                                <div class="col-lg-12 ps-4 mt-2">
                                    <input class="mb-4" accept="image/*" type="file" placeholder="image" value="{{i.pimage}}" name="image">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-12">
                                    <span>old image
                                    </span>
                                </div>
                                <div class="col-lg-12 ps-4 mt-2">
                                    <img src="../{{i.pimage}}" width="200px" height="200px">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-2">
                        </div>
                        <div class="col-lg-10">
                            <button type="submit">Add</button>
                            <a href="/"><button type="button">Back</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 ps-5 mt-5">
                    
                </div>
            </form>
          </div>
    </div>
</div>
{% endfor %}
{% endblock %}