{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/my.css'%}">
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
    .table thead th{
      background: var(--focolor);
      color: white;
    }
    .table tbody td{
      background:rgba(31, 41, 55,05);
      color: white;
    }
    .table tbody tr:hover{
      background:var(--focolor) !important;
    }
    </style>
</head>

<body>
    <div style="background-color: var(--fcolor);min-height: 100vh;">
        <div class="container-fluid mybg1 position-relative">
            <div class="row mb-1" style="box-shadow:1px 1px 1px var(--focolor);">
                <div class="col-lg-1 mycolor1 ms-5 fw-semibold fs-2 myshadow"><a style="color: transparent;" href="/">NoTes</a></div>
                {% if request.session.role %}
                <div class="col-lg-7"></div>
                <div class="col-lg-2 ps-5 pt-2 p-0 fs-5 user"><i style="color: var(--ffcolor);" class="fa-solid fa-user"></i>&nbsp;{{request.session.username}}({{request.session.role}})</div>
                <div class="col-lg-1 ps-3 login pt-3"><a style="color:white;" href="/logout/">logout&nbsp;<i class="fa-solid fa-arrow-right-to-bracket"></i></a></div>
                {% else %}
                <div class="col-8"></div>
                <div class="col-lg-1" ></div>
                <div class="col-lg-1 login pt-3" ><a style="color:white;" href="/login">login</a>&nbsp;&nbsp;&nbsp;<a style="color:white;" href="/register/">register</a></div>
                {% endif %} 
            </div>

            {% block hello %}

            {% endblock %}
        </div>
    </div>
</body>
</html>